[Desktop Entry]
Name=AWGG
Comment=AWGG o Advanced WGET GUI es un frontend que meneja varios motores de descarga como wget, aria2c, youtube-dl, curl y axel haciendo mas facil su uso.
Exec=awgg
Terminal=false
Type=Application
Icon=awgg
StartupNotify=true
Categories=GTK;Network;KDE;
Name[es_CU]=AWGG
